/* App.css */
/* App */

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  overflow-x: hidden;
}

/* End of App */

.container {
  width: 800px;
  border-radius: 8px;
  background-color: #ffffffd8;
  box-shadow: 0 0 12px 5px #dc9bf69c;
  position: relative;
}

/* Weather */

.weather {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: .125%;
  left: 76.5%;
}

.weather__search input[type="search"] {
  padding: 5px;
  border-top: 2px double #be58d293;
  border-bottom: 2px double #be58d293;
  border-left: 2px double #be58d293;
  border-right: 2px double #be58d293;
  border-radius: 4px;
  background-color: transparent !important;
  color: #a356b2ca;
  outline: none;
}

.weather__info, .weather__info__temp {
  margin-top: 2px;
  color: #a862b7ca;
  font-size: 14px;
  font-weight: 800;
}

.weather__info__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weather__info__main img {
  width: 60px;
  margin-right: 5px;
}

.weather__info__temp {
  margin-top: 15px;
  font-size: 22px;
}

/* End of Weather */

/* Diary Info */

.diary__info {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 25px auto -15px;
}

/* Info Title */

.diary__info .info__title {
  color: #4e4984;
  text-shadow: 0 0 5px rgb(192, 178, 241);
  /* background-color: #dee7f82d; */
}

/* End of Info Title */

/* Info Emotions */

.info__emotions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info__emotions .emotion__icons {
  display: flex;
  align-content: center;
  justify-content: center;
  font-weight: 800;
}

.info__emotions .emotion__icons:nth-child(1) {
  color: #d04659;
}

.info__emotions .emotion__icons:nth-child(2) {
  color: #443ac4;
}

.info__emotions .emotion__icons:nth-child(3) {
  color: #453e8f;
}

/* End of Info Emotions */

/* End of Diary Info */


/* Diary */

.diaryEditor {
  text-align: center;
  padding: 10px;
  line-height: 2.2;
}

/* Diary H2 */

.diaryEditor h2 {
  font-size: 28px;
  color: #624599;
  text-shadow: 0 0 5px #9262ecdc;
}

/* End of Diary H2 */

/* Input & Textarea */

.diaryEditor input,textarea {
  width: 500px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #ffffff92;
  border: 1px solid #38173f93;
  color: #a356b2ca;
  font-weight: 700;
  filter: blur(.6px);
  border-radius: 5px;
  outline: none;
  transition: border 1s;
}

.diaryEditor input:focus,
.diaryEditor textarea:focus {
  border: 1px solid #a356b2ca;
  filter: blur(0);
  transition: border 1s;
}

.diaryEditor textarea {
  height: 150px;
  resize: none;
}

/* End of Input & Textarea */

/* Select */

.diaryEditor select {
  width: 500px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #38173f93;
  border-radius: 5px;
  color: #a356b2ca;
  outline: none;
  font-weight: 700;
}

/* End of Select */

/* Button */

.diaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
  background-color: #a356b2ca;
  box-shadow: 0 0 7px 1px #d07ff09c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 1s;
}

.diaryEditor button:hover {
  background-color: #802d90ca;
  transition: background-color 1s;
}

/* End of Button */

/* End of Diary */

/* DiaryList */

.diaryList {
  padding: 20px;
  margin: 0 auto;
}

/* h2 */

.diaryList h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #d4d4d460;
  padding-bottom: 10px;
  text-align: center;
  font-size: 28px;
  color: #624599;
  text-shadow: 0 0 5px #9262ecdc;
}

/* End of h2 */

/* h3 */

.diaryList h3 {
  color: #624599;
  margin-left: 20px;
}

/* End of h3 */

/* End of DiaryList */

/* DiaryItem */

.diaryItem {
  background-color: #f4dffd68;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #f2d4ff81;
  border-radius: 5px;
  box-shadow: 0 0 7px 2px #eed9f868;
}

/* DiaryItem info */

.diaryItem .info {
  margin-bottom: 10px;
  font-size: 16px;
  color: #393838;
  font-weight: 700;
}

/* DiaryItem info-main */

.diaryItem .info .info-main {
  display: flex;
  justify-content: space-between;
}

/* End of DiaryItem info-main */

/* DiaryItem Content */

.diaryItem .content {
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 16px;
  color: #393838;
}

/* End of DiaryItem Content */

/* End of DiaryItem info */

/* DiaryItem Info Sub */

.diaryItem .info-sub {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* DiaryItem Date */

.diaryItem .info-sub .date {
  color: #5b5858;
  font-weight: 700;
}

/* End of DiaryItem Date */

/* DiaryItem Delete Button */

.info-sub .sub-icons .delete-icon {
  font-size: 22px;
  color: #ff0000;
  cursor: pointer;
  margin-right: 15px;
  transition: color 1s;
}

.info-sub .sub-icons .delete-icon:hover {
  color: #ac4747;
  transition: color 1s;
}

/* End of DiaryItem Delete Button */

/* DiaryItem Modify Button */

.info-sub .sub-icons .modify-icon {
  font-size: 22px;
  color: #716da3;
  cursor: pointer;
  transition: color 1s;
}

.info-sub .sub-icons .modify-icon:hover {
  color: #4a457d;
  transition: color 1s;
}

/* End of DiaryItem Modify Button */

/* DiaryItem Cancel Button */

.info-sub .sub-icons .cancel-icon {
  font-size: 22px;
  color: #eb1919;
  cursor: pointer;
  margin-right: 10px;
  transition: color 1s;
}

.info-sub .sub-icons .cancel-icon:hover {
  color: #ac184c;
  transition: color 1s;
}

/* End of DiaryItem Cancel Button */

/* DiaryItem Modify Save Button */

.info-sub .sub-icons .save-icon {
  font-size: 24px;
  color: #6a63cf;
  cursor: pointer;
  transition: color 1s;
}

.info-sub .sub-icons .save-icon:hover {
  color: #373367;
  transition: color 1s;
}


/* End of DiaryItem Modify Save Button */

/* End of DiaryItem Info Sub */

/* End of DiaryItem */