/* App.css */
/* Diary */

.diaryEditor {
  width: 1200px;
  border: 1px solid #9e9e9e;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
}

/* Input & Textarea */

.diaryEditor input,textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}

.diaryEditor textarea {
  height: 150px;
}

/* End of Input & Textarea */

/* Select */

.diaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

/* End of Select */

/* Button */

.diaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* End of Button */

/* End of Diary */